___Shares info collection___

In [156]:
#!pip install yf

In [3]:
#pip install yahoofinancials

In [4]:
#pip install yfinance

In [79]:
from yahoofinancials import YahooFinancials

In [80]:
import yfinance as yf
import numpy as np 
import pandas as pd

In [81]:
tsla = yf.Ticker("TSLA")
#tsla.info

In [82]:
tech_stocks = ['AAPL', 'MSFT', 'INTC']

In [9]:
yahoo_financials_tech = YahooFinancials(tech_stocks)

In [10]:
yahoo_financials_tech.get_operating_income()

{'AAPL': 108949000000, 'MSFT': 69916000000, 'INTC': 23876000000}

In [11]:
yahoo_financials_tech.get_market_cap()

{'AAPL': 2862096318464, 'MSFT': 2354202017792, 'INTC': 198144245760}

In [12]:
#yahoo_financials_tech.get_key_statistics_data()

___GET list of shares from S&P 500___

As we make internal 'pet-project', we collect data from Wikipedia

In [13]:
import bs4 as bs
import requests
 
resp = requests.get('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
soup = bs.BeautifulSoup(resp.text, 'lxml')

In [14]:
soup = bs.BeautifulSoup(resp.text, 'lxml')
table = soup.find('table', {'class': 'wikitable sortable'})
#print(table)

Для сбора данных интересны все строчки, кроме первой, поэтому:

In [15]:
#print(table.findAll('tr')[1:])

In [16]:
tickers = []
industries = []
for row in table.findAll('tr')[1:]:
        ticker = row.findAll('td')[0].text
        #четвертый элемент в нашей странице
        industry = row.findAll('td')[4].text
        
        tickers.append(ticker)
        industries.append(industry)

In [17]:
#display(tickers)
# удалим символ /n из списков и составим датафрейм в пандас.

In [18]:
tickers = pd.Series(list(map(lambda s: s.strip(), tickers)))
industries = pd.Series(list(map(lambda s: s.strip(), industries)))

In [19]:
data = {'tickers': tickers,
        'industries': industries
       }

# создаем датафрейм:
df = pd.DataFrame(data)

In [20]:
df.head()

  tickers                industries
0     MMM  Industrial Conglomerates
1     AOS         Building Products
2     ABT     Health Care Equipment
3    ABBV           Pharmaceuticals
4    ABMD     Health Care Equipment

In [64]:
tickers = df['tickers'].to_list()

In [1]:
#tickers
# Опция (На будущее) - спарсить Finviz. Все данные, которые мне были нужны, доступны. Включая те, которые залочены в yahoo finance.

In [67]:
yahoo_tickers = YahooFinancials(tickers)

In [68]:
yahoo_tickers

In [69]:
yahoo_tickers_dict = yahoo_tickers.get_key_statistics_data()

In [70]:
yahoo_dataframe = pd.DataFrame(yahoo_tickers_dict)

In [71]:
df = yahoo_dataframe.T.reset_index()

In [72]:
# далее это нужно будет сохранить. 
# следующая задача - сделать описание всех колонок

In [73]:
df.head()

,index,annualHoldingsTurnover,enterpriseToRevenue,beta3Year,profitMargins,enterpriseToEbitda,52WeekChange,morningStarRiskRating,forwardEps,revenueQuarterlyGrowth,...,pegRatio,ytdReturn,forwardPE,maxAge,lastCapGain,shortPercentOfFloat,sharesShortPriorMonth,impliedSharesOutstanding,category,fiveYearAverageReturn
0,MMM,None,3.049,None,0.16747,11.251,-0.045874,None,11.07,None,...,2.16,None,15.046975,1,None,0.0158,9415227,None,None,None
1,AOS,None,3.304,None,0.13764,17.009,0.320692,None,3.81,None,...,2.65,None,19.71916,1,None,0.0285,3352281,159162000,None,None
2,ABT,None,5.429,None,0.16416,18.245,0.05806,None,5.2,None,...,1.98,None,25.013464,1,None,0.0052,9684857,None,None,None
3,ABBV,None,5.632,None,0.13656,10.768,0.280972,None,13.99,None,...,2.28,None,9.83917,1,None,0.0081,15436235,None,None,None
4,ABMD,None,13.166,None,0.15319,44.482,-0.076265,None,4.91,None,...,7,None,62.142567,1,None,0.0257,1171896,None,None,None

In [75]:
file_name = 'sp500.csv'

In [76]:
df.to_csv(file_name, encoding='utf-8', index=False)

In [77]:
df_from_folder = pd.read_csv('sp500.csv')

In [78]:
df_from_folder.head()

,index,annualHoldingsTurnover,enterpriseToRevenue,beta3Year,profitMargins,enterpriseToEbitda,52WeekChange,morningStarRiskRating,forwardEps,revenueQuarterlyGrowth,...,pegRatio,ytdReturn,forwardPE,maxAge,lastCapGain,shortPercentOfFloat,sharesShortPriorMonth,impliedSharesOutstanding,category,fiveYearAverageReturn
0,MMM,NaN,3.049,NaN,0.16747,11.251,-0.045874,NaN,11.07,NaN,...,2.16,NaN,15.046975,1.0,NaN,0.0158,9415227.0,NaN,NaN,NaN
1,AOS,NaN,3.304,NaN,0.13764,17.009,0.320692,NaN,3.81,NaN,...,2.65,NaN,19.719160,1.0,NaN,0.0285,3352281.0,159162000.0,NaN,NaN
2,ABT,NaN,5.429,NaN,0.16416,18.245,0.058060,NaN,5.20,NaN,...,1.98,NaN,25.013464,1.0,NaN,0.0052,9684857.0,NaN,NaN,NaN
3,ABBV,NaN,5.632,NaN,0.13656,10.768,0.280972,NaN,13.99,NaN,...,2.28,NaN,9.839170,1.0,NaN,0.0081,15436235.0,NaN,NaN,NaN
4,ABMD,NaN,13.166,NaN,0.15319,44.482,-0.076265,NaN,4.91,NaN,...,7.00,NaN,62.142567,1.0,NaN,0.0257,1171896.0,NaN,NaN,NaN

In [27]:
tick_example = ['AOS', 'ABT', 'ABBV']

In [28]:
yahoo_example = YahooFinancials(tick_example)

In [33]:
example_dict = yahoo_example.get_key_statistics_data()

In [58]:
yahoo_dict = pd.DataFrame(example_dict)

In [62]:
y = yahoo_dict.T.reset_index()

In [63]:
y.head()

,index,annualHoldingsTurnover,enterpriseToRevenue,beta3Year,profitMargins,enterpriseToEbitda,52WeekChange,morningStarRiskRating,forwardEps,revenueQuarterlyGrowth,...,pegRatio,ytdReturn,forwardPE,maxAge,lastCapGain,shortPercentOfFloat,sharesShortPriorMonth,impliedSharesOutstanding,category,fiveYearAverageReturn
0,AOS,None,3.304,None,0.13764,17.009,0.320692,None,3.81,None,...,2.65,None,19.753283,1,None,0.0285,3352281,159162000,None,None
1,ABT,None,5.429,None,0.16416,18.245,0.05806,None,5.2,None,...,1.98,None,24.888462,1,None,0.0052,9684857,None,None,None
2,ABBV,None,5.632,None,0.13656,10.768,0.280972,None,13.99,None,...,2.28,None,9.802716,1,None,0.0081,15436235,None,None,None

In [83]:
columns = y.columns.to_list()

In [85]:
#columns

__ГИПОТЕЗА__: думаю, что все помеченное NONE обязательно есть в платной подписке yahoo finance.

`annualHoldingsTurnover` - годовой оборот компании (здесь NONE, подумать как добыть) 

`enterpriseToRevenue` мультипликатор [EV/R](https://smart-lab.ru/blog/552628.php) 

`beta3Year` - трехлетний показатель beta (устойчивость компании к изменениям на рынке - здесь NONE) 

`profitMargins` - величина прибыли 

`enterpriseToEbitda` - мультипликатор [EV/EBITDA](https://smart-lab.ru/blog/619139.php)

`52WeekChange` изменение котировок за год

`morningStarRiskRating` - звездный рейтинг, помогает инвесторам быстро определить средства для рассмотрения их портфелей (здесь - NONE)

`forwardEps` - форвардный EPS

`revenueQuarterlyGrowth` - квартальный рост прибыли (г/г)

`sharesOutstanding` - акции в обращении

`fundInceptionDate` - дата создания фонда, учитывается в расчетах по окупаемости

`annualReportExpenseRatio` - годовые издержки (затраты за год)

`totalAssets` - общие активы
 
`bookValue` - балансовая стоимость
 
`sharesShort` - (short interest ratio) - количество акций в коротких позициях к среднеторговому обороту этих акций
 
`sharesPercentSharesOut` - процент акций вышедших из обращения
 
`fundFamily` - семейные фонды. Независимые семейные фонды управляются инвестиционными компаниями. 
 
`lastFiscalYearEnd` - окончание налогового периода (декабрь или апрель)
 
`heldPercentInstitutions` - процент акций, которые держат институциональные инвесторы
 
 `netIncomeToCommon` - [Net income applicable to common shares](https://www.thebalance.com/net-income-applicable-to-common-shares-357584) - чистая прибыль на обыкновенные акции
 
 `trailingEps` - прибыль на акцию, полученная за предыдущий календарный год
 
 `lastDividendValue` - величина последнего дивиденда
 
 `SandP52WeekChange`
 
 `priceToBook` - мультипликатор [P/B](https://smart-lab.ru/blog/544822.php)
 
 `heldPercentInsiders`
 
 `nextFiscalYearEnd` - окончание следующего налогового периода
 
 `yield`- доходность
 
 `mostRecentQuarter` - финансовый квартал, который закончился совсем недавно (термин MRQ)
 
 `shortRatio` - соотношение коротких позиций
 
 `sharesShortPreviousMonthDate` - соотношение коротких позиций к предыдущему месяцу
 
 `floatShares` - общее кол-во акций в свободном для торговли доступе
 
 `beta` - коэф. бета
 
 `enterpriseValue` - мультипликатор [EV](https://smart-lab.ru/blog/552628.php). показатель, который сообщает инвестору сколько необходимо суммарно заплатить за компанию, если бы ее чистый долг был бы равен 0. 
 
 `priceHint` - __(tbd ???)__
 
 `threeYearAverageReturn` - средняя величина возврата за последние три года
 
 `lastSplitDate` - дата, когда проводился последний сплит акций
 
 `lastSplitFactor` - мультипликатор (???), который показывает в каком соотношении проводился последний сплит акций
 
 `legalType` - юр. тип
 
 `lastDividendDate` - дата последнего дивиденда
 
 `morningStarOverallRating` - полный рейтинг от Overall Star
 
 `earningsQuarterlyGrowth` - рост квартальной прибыли
 
 `priceToSalesTrailing12Months` - мультипликатор P/S за последние 12 месяцев
 
 `dateShortInterest` - дата последних сделок с короткими позициями (уточнить???)
 
 `pegRatio` - price to earning growth ration - коэффициент, который позволяет оценить степень недооцененности\переоцененности компании
 
 `ytdReturn` - параметр, который показывает доходность акции, индекса или другого финансового инструмента с начала года по сегодняшний день
 
 `forwardPE` - форвардный P/E
 
 `maxAge` - __(tbd ???)__
 
 `lastCapGain` - прирост капитала за последний период
 
 `shortPercentOfFloat` - величина коротких позиций к величине свободно обращающихся акций
 
 `sharesShortPriorMonth` - кол-во акций в коротких позициях за последний месяц
 
`impliedSharesOutstanding` - кол-во акций в обращении
 
`category` - категория (???)
 
`fiveYearAverageReturn` - средняя величина возврата за последние 5 лет

In [90]:
yahoo_tickers_interest_expense = yahoo_tickers.get_interest_expense()
yahoo_tickers_operating_income = yahoo_tickers.get_operating_income()
yahoo_tickers_total_operating_expens = yahoo_tickers.get_total_operating_expense()

In [122]:
spam = 'get_total_revenue()'

In [129]:
f'a = yahoo_tickers.{spam}'

'a = yahoo_tickers.get_total_revenue()'

In [134]:
a.strip().strip()

'yahoo_tickers.get_total_revenue()'

In [149]:
spam2 = ['get_total_revenue()', 'get_cost_of_revenue()', 'get_income_before_tax()']

In [150]:
spam_tickers=[]

In [151]:
for i in range(len(spam2)):
    spam_i = f'yahoo_tickers.{spam2[i]}'
    spam_tickers.append(spam_i)

In [153]:
spam_tickers[0].strip()

'yahoo_tickers.get_total_revenue()'

Какие еще данные нам было бы интересно стащить из библиотеки?

In [155]:
yahoo_tickers_get_total_revenue = yahoo_tickers.get_total_revenue()
yahoo_tickers_get_cost_of_revenue = yahoo_tickers.get_cost_of_revenue()
yahoo_tickers_get_income_before_tax = yahoo_tickers.get_income_before_tax()
yahoo_tickers_get_income_tax_expense = yahoo_tickers.get_income_tax_expense()

yahoo_tickers_get_gross_profit = yahoo_tickers.get_gross_profit()
yahoo_tickers_get_net_income_from_continuing_ops = yahoo_tickers.get_net_income_from_continuing_ops()
yahoo_tickers_get_research_and_development = yahoo_tickers.get_research_and_development()
yahoo_tickers_get_current_price = yahoo_tickers.get_current_price()
yahoo_tickers_get_current_change = yahoo_tickers.get_current_change()
yahoo_tickers_get_current_percent_change = yahoo_tickers.get_current_percent_change()
yahoo_tickers_get_current_volume = yahoo_tickers.get_current_volume()
yahoo_tickers_get_prev_close_price = yahoo_tickers.get_prev_close_price()
yahoo_tickers_get_open_price = yahoo_tickers.get_open_price()
yahoo_tickers_get_ten_day_avg_daily_volume = yahoo_tickers.get_ten_day_avg_daily_volume()
yahoo_tickers_get_three_month_avg_daily_volume = yahoo_tickers.get_three_month_avg_daily_volume()
yahoo_tickers_get_stock_exchange = yahoo_tickers.get_stock_exchange()
yahoo_tickers_get_market_cap = yahoo_tickers.get_market_cap()
yahoo_tickers_get_daily_low = yahoo_tickers.get_daily_low()
yahoo_tickers_get_daily_high = yahoo_tickers.get_daily_high()
yahoo_tickers_get_yearly_high = yahoo_tickers.get_yearly_high()
yahoo_tickers_get_yearly_low = yahoo_tickers.get_yearly_low()
yahoo_tickers_get_dividend_yield = yahoo_tickers.get_dividend_yield()
yahoo_tickers_get_annual_avg_div_yield = yahoo_tickers.get_annual_avg_div_yield()
yahoo_tickers_get_five_yr_avg_div_yield = yahoo_tickers.get_five_yr_avg_div_yield()
yahoo_tickers_get_dividend_rate = yahoo_tickers.get_dividend_rate()
yahoo_tickers_get_annual_avg_div_rate = yahoo_tickers.get_annual_avg_div_rate()
yahoo_tickers_get_50day_moving_avg = yahoo_tickers.get_50day_moving_avg()
yahoo_tickers_get_200day_moving_avg = yahoo_tickers.get_200day_moving_avg()
yahoo_tickers_get_beta = yahoo_tickers.get_beta()
yahoo_tickers_get_payout_ratio = yahoo_tickers.get_payout_ratio()
yahoo_tickers_get_pe_ratio = yahoo_tickers.get_pe_ratio()
yahoo_tickers_get_price_to_sales = yahoo_tickers.get_price_to_sales()
yahoo_tickers_get_exdividend_date = yahoo_tickers.get_exdividend_date()
yahoo_tickers_get_ebit = yahoo_tickers.get_ebit()
yahoo_tickers_get_net_income = yahoo_tickers.get_net_income()
yahoo_tickers_get_earnings_per_share = yahoo_tickers.get_earnings_per_share()