In [1]:
import pandas as pd
import numpy as np

In [2]:
df_finviz = pd.read_csv('finviz_shares.csv')

In [3]:
df_finviz.head()

,ticker,id_share,industry,Index,P/E,EPS (ttm),Insider Own,Perf Week,Forward P/E,EPS next Y,...,Market Cap_full_count,Income_full_count,Sales_full_count,Shs Outstand_full_count,Shs Float_full_count,Avg Volume_full_count,52_w_range_low,52_w_range_high,Volatility_low_%,Volatility_high_%
0,AAP,1,Consumer Cyclical,S&P 500,22.54,9.88,0.10,-4.20,16.78,11.37,...,1.423000e+13,6.464000e+08,1.097000e+13,6.285000e+07,6.208000e+07,679290.0,151.01,244.55,2.73,2.73
1,AAQC,2,Financial,-,NaN,NaN,NaN,-0.10,NaN,NaN,...,3.880000e+08,NaN,NaN,4.000000e+07,NaN,55940.0,9.60,9.96,0.16,0.18
2,AAOI,3,Technology,-,NaN,-2.05,6.40,2.08,NaN,15.40,...,1.045800e+08,-5.310000e+07,2.095000e+08,2.710000e+07,2.539000e+07,506560.0,3.63,12.97,5.01,5.43
3,AAPL,4,Technology,DJIA S&P500,28.58,6.02,0.07,-0.45,26.29,6.42,...,2.817210e+15,1.005600e+14,3.783200e+14,1.639000e+13,1.631000e+13,101620000.0,116.21,182.94,1.87,2.63
4,AAON,5,Industrials,-,43.79,1.33,16.60,-4.43,34.57,34.88,...,3.120000e+12,7.150000e+07,5.149000e+08,5.242000e+07,4.156000e+07,244130.0,58.65,83.79,3.30,3.88

__PEG__

In [4]:
def get_peg_label(peg):
    
    """ Return the peg group label (int). """

    if pd.isnull(peg) is True:
        return -1
    elif (peg > 0) and (peg < 1):
        return 1
    elif (peg > 1) and (peg < 3):
        return 2
    else: 
        return 3

# сегментация по PEG
df_finviz['PEG_label'] = df_finviz['PEG'].apply(lambda x: get_peg_label(x))

In [5]:
df_finviz.columns

Index(['ticker', 'id_share', 'industry', 'Index', 'P/E', 'EPS (ttm)',
       'Insider Own', 'Perf Week', 'Forward P/E', 'EPS next Y',
       'Insider Trans', 'Perf Month', 'PEG', 'EPS next Q', 'Inst Own',
       'Short Float', 'Perf Quarter', 'P/S', 'EPS this Y', 'Inst Trans',
       'Short Ratio', 'Perf Half Y', 'Book/sh', 'P/B', 'ROA', 'Target Price',
       'Perf Year', 'Cash/sh', 'P/C', 'EPS next 5Y', 'ROE', 'Perf YTD',
       'Dividend', 'P/FCF', 'EPS past 5Y', 'ROI', '52W High', 'Beta',
       'Dividend %', 'Quick Ratio', 'Sales past 5Y', 'Gross Margin', '52W Low',
       'ATR', 'Employees', 'Current Ratio', 'Sales Q/Q', 'Oper. Margin',
       'RSI (14)', 'Optionable', 'Debt/Eq', 'EPS Q/Q', 'Profit Margin',
       'Rel Volume', 'Prev Close', 'Shortable', 'LT Debt/Eq', 'Earnings',
       'Payout', 'Price', 'Recom', 'SMA20', 'SMA50', 'SMA200', 'Volume',
       'Change', 'Market Cap_full_count', 'Income_full_count',
       'Sales_full_count', 'Shs Outstand_full_count', 'Shs Float_full_count',
       'Avg Volume_full_count', '52_w_range_low', '52_w_range_high',
       'Volatility_low_%', 'Volatility_high_%', 'PEG_label'],
      dtype='object')

__quick_ratio__

In [6]:
def quick_ratio_label(quick_ratio): 
    
    """ Return the quick_ratio group label (int). """
    
    if quick_ratio >= 1:
        return 2
    elif (quick_ratio >= 0.3) and (quick_ratio < 1):
        return 0.5
    else: 
        return -1
    
# сегментация по quick_ratio
df_finviz['quick_ratio_label'] = df_finviz['Quick Ratio'].apply(lambda x: quick_ratio_label(x))

__div_rate to int_rate and clear div__

In [7]:
# текущая процентная ставка в ФРС
interest_rate = 0.25
df_finviz['div_rate_to_int_rate'] = df_finviz['Dividend %']/interest_rate

In [8]:
df_finviz['clear_dividend'] = df_finviz['Dividend %'] - interest_rate

In [9]:
df_finviz['norm_div'] = (df_finviz['Dividend %'] - interest_rate)*100/df_finviz['Dividend %']

__P/B__

In [10]:
def pb_label(pb): 
    
    """ Return the pb group label (int). """
    
    if pb >= 1:
        return 1
    elif (pb >= 0.3) and (pb < 1):
        return 2
    else: 
        return -1
    
# сегментация по quick_ratio
df_finviz['pb_label'] = df_finviz['P/B'].apply(lambda x: pb_label(x))

__Average by industry P/E__

In [11]:
df_finviz['industry'].unique()

array(['Consumer Cyclical', 'Financial', 'Technology', 'Industrials',
       'Healthcare', 'Consumer Defensive', 'Real Estate',
       'Basic Materials', 'Communication Services', 'Utilities', 'Energy'],
      dtype=object)

In [12]:
df_pe_mean = df_finviz.groupby(["industry"]).mean().sort_values("P/E", ascending=False)
df_pe_mean = df_pe_mean[["P/E"]].round(3) 
df_pe_mean.reset_index(inplace=True) 
df_pe_mean

                  industry      P/E
0   Communication Services  143.488
1               Healthcare   91.753
2               Technology   90.447
3          Basic Materials   90.139
4              Industrials   63.051
5              Real Estate   62.753
6        Consumer Cyclical   44.116
7                   Energy   42.221
8                Financial   39.517
9                Utilities   35.943
10      Consumer Defensive   34.490

In [18]:
dict_pe = df_pe_mean.set_index('industry').to_dict()

In [21]:
dict_pe = dict_pe['P/E']

In [22]:
dict_pe

{'Communication Services': 143.488,
 'Healthcare': 91.753,
 'Technology': 90.447,
 'Basic Materials': 90.139,
 'Industrials': 63.051,
 'Real Estate': 62.753,
 'Consumer Cyclical': 44.116,
 'Energy': 42.221,
 'Financial': 39.517,
 'Utilities': 35.943,
 'Consumer Defensive': 34.49}

In [23]:
df_finviz['pe_average'] = df_finviz['industry'].map(dict_pe)

In [25]:
def pe_label_average(row):
    
    """ Return the pe label (int).
    If current p/e > pe_average - > 0
    else - > 0 """
    
    if row['P/E'] >= row['pe_average']: 
        return 0
    if row['P/E'] < row['pe_average']: 
        return 1

In [26]:
df_finviz['pe_label'] = df_finviz.apply(pe_label_average, axis=1)

In [28]:
def pe_label_forward(row):
    
    """ Return the pe label (int).
    If current p/e > pe_forward - > 1
    else - > -1 """
    
    if row['P/E'] >= row['Forward P/E']: 
        return 1
    if row['P/E'] < row['Forward P/E']: 
        return -1

In [29]:
df_finviz['pe_label_forward'] = df_finviz.apply(pe_label_forward, axis=1)

__Average by industry P/S__

In [30]:
df_ps_mean = df_finviz.groupby(["industry"]).mean().sort_values("P/S", ascending=False)
df_ps_mean = df_ps_mean[["P/S"]].round(3) 
df_ps_mean.reset_index(inplace=True) 
df_ps_mean

                  industry       P/S
0                Financial  6513.675
1               Technology  6405.752
2        Consumer Cyclical  5963.949
3               Healthcare   535.476
4              Industrials    81.556
5                   Energy    40.945
6   Communication Services    13.435
7       Consumer Defensive    10.684
8              Real Estate     7.866
9          Basic Materials     6.330
10               Utilities     6.199

In [31]:
dict_ps = df_ps_mean.set_index('industry').to_dict()

In [32]:
dict_ps = dict_ps['P/S']

In [33]:
dict_ps

{'Financial': 6513.675,
 'Technology': 6405.752,
 'Consumer Cyclical': 5963.949,
 'Healthcare': 535.476,
 'Industrials': 81.556,
 'Energy': 40.945,
 'Communication Services': 13.435,
 'Consumer Defensive': 10.684,
 'Real Estate': 7.866,
 'Basic Materials': 6.33,
 'Utilities': 6.199}

In [34]:
df_finviz['ps_average'] = df_finviz['industry'].map(dict_ps)

In [35]:
def ps_label_average(row):
    
    """ Return the ps label (int).
    If current p/s > ps_average - > 0
    else - > 1 """
    
    if row['P/S'] >= row['ps_average']: 
        return 0
    if row['P/S'] < row['ps_average']: 
        return 1

In [36]:
df_finviz['ps_label'] = df_finviz.apply(ps_label_average, axis=1)

__Average by industry P/B__

In [37]:
df_pb_mean = df_finviz.groupby(["industry"]).mean().sort_values("P/B", ascending=False)
df_pb_mean = df_pb_mean[["P/B"]].round(3) 
df_pb_mean.reset_index(inplace=True) 
df_pb_mean

                  industry      P/B
0                Financial  205.492
1                   Energy   14.616
2               Technology   12.160
3        Consumer Cyclical   10.786
4   Communication Services    6.041
5               Healthcare    5.310
6       Consumer Defensive    5.028
7          Basic Materials    4.877
8              Industrials    4.120
9                Utilities    2.751
10             Real Estate    2.668

In [38]:
dict_pb = df_pb_mean.set_index('industry').to_dict()

In [39]:
dict_pb = dict_pb['P/B']

In [40]:
dict_pb

{'Financial': 205.492,
 'Energy': 14.616,
 'Technology': 12.16,
 'Consumer Cyclical': 10.786,
 'Communication Services': 6.041,
 'Healthcare': 5.31,
 'Consumer Defensive': 5.028,
 'Basic Materials': 4.877,
 'Industrials': 4.12,
 'Utilities': 2.751,
 'Real Estate': 2.668}

In [41]:
df_finviz['pb_average'] = df_finviz['industry'].map(dict_pb)

In [42]:
def pb_label_average(row):
    
    """ Return the ps label (int).
    If current p/b > pb_average - > 0
    else - > 1 """
    
    if row['P/B'] >= row['pb_average']: 
        return 0
    if row['P/B'] < row['pb_average']: 
        return 1

In [43]:
df_finviz['pb_label'] = df_finviz.apply(pb_label_average, axis=1)

__Gross margin__

In [44]:
def gross_margin_label(gross_margin): 
    
    """ Return the gross margin label (int). """
    
    if gross_margin >= 30:
        return 2
    elif (gross_margin >= 0) and (gross_margin < 30):
        return 1
    else: 
        return -1
    
# сегментация по quick_ratio
df_finviz['gross_margin_label'] = df_finviz['Gross Margin'].apply(lambda x: pb_label(x))

__Target price__

In [52]:
def target_price_label(row): 
    
    """ Return the gross margin label (int). """
    
    if (row['Target Price']/row['Price'] >= 1.5) and ((row['RSI (14)']>30) and (row['RSI (14)']<40)): 
        return 2
    elif row['Target Price']/row['Price'] >= 1.5: 
        return 1
    else:
        return -1
    
# сегментация по quick_ratio
df_finviz['target_price_label'] = df_finviz.apply(target_price_label, axis=1)